body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
}
li{
    margin-left: 40px;
list-style: none;
font-size: 22px;
}
a{
    text-decoration: none;
    color: #000;
}